@page "/"
@using Persistance.Features.Person.Queries;
@using Persistance.Models;
@inject MediatR.IMediator _mediator

<PageTitle>Index</PageTitle>

<ul>
	@foreach (var person in people)
	{
		<li>@person.FirstName @person.LastName</li>
	}
</ul>

Welcome to your new app.

@code {
	List<PersonModel> people = new();

	protected override async Task OnInitializedAsync()
	{
		people = await _mediator.Send(new GetPersonListQuery());
	}
}